<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="topBanner">
        <div class="banner_zone">
            <div class="logo_zone">
                <div class="logo_text">Finiva</div>
                <img alt="logo" class="logo" src="{{ url_for('static', filename='assets/dollar.png') }}" />
            </div>
            <div class="menu">
                <div class="menu_item pointer_on_hover">Home</div>
                <div class="menu_item pointer_on_hover">Technology</div>
                <div class="menu_item pointer_on_hover">Company</div>
            </div>
            <div class="button_zone pointer_on_hover">
                <div class="login">Login</div>
            </div>
        </div>
    </div>
    <div class="content_master">
        <div class="content_zone">
            <img alt="payment" class="image_content" src="{{ url_for('static', filename='/assets/online-payment.svg') }}" />
            <div class="text_zone">
                <h1>Investing Made Simple</h1>
                <div class="button_zone custom_get_started_button pointer_on_hover">
                    Get Started Now
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>